[tool.poetry]
name = "sco1-pylox"
version = "0.2.0"
description = "A Python interpreter for the Lox programming language."
authors = ["sco1 <sco1.git@gmail.com>"]

readme = "README.md"
homepage = "https://github.com/sco1/"
repository = "https://github.com/sco1/pylox"
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.10",
    "Topic :: Software Development :: Interpreters",
    "Typing :: Typed",
]

packages = [{include = "pylox"}, {include = "tool"},]

[tool.poetry.scripts]
pylox = "pylox.lox:pylox_cli"
astgen = "tool.generate_ast:astgen_cli"
testgen = "tool.generate_tests:testgen_cli"

[tool.poetry.dependencies]
python = "^3.10"
attrs = "^21.2"
rich = "^10.12"
typer = "^0.4"

[tool.poetry.dev-dependencies]
black = "^21.11b0"
bump2version = "^1.0"
flake8 = "^4.0"
flake8-annotations = "^2.7"
flake8-bugbear = "^21.4"
flake8-docstrings = "^1.6"
flake8-fixme = "^1.1"
flake8-import-order = "^0.18"
flake8-tidy-imports = "^4.4"
isort = "^5.9"
mypy = "^0.910"
pep8-naming = "^0.12"
pre-commit = "^2.14"
pytest = "^6.2"
pytest-check = "^1.0"
pytest-cov = "^3.0"
tox = "^3.24"

[tool.black]
line-length = 100
target-version = ["py310"]

[tool.isort]
case_sensitive = true
known_first_party = "pylox,tests"
no_lines_before = "LOCALFOLDER"
order_by_type = false
profile = "black"

[tool.mypy]
disallow_incomplete_defs = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
disallow_untyped_defs = true
ignore_missing_imports = true
no_implicit_optional = true
show_error_codes = true
warn_redundant_casts = true
warn_return_any = true
warn_unused_configs = true
warn_unused_ignores = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
